<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- 关键点1：增加 useLegacyV2RuntimeActivationPolicy="true" 以支持混合模式程序集 -->
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- 关键点2：将所有 ESRI 旧版本 DLL 请求重定向到 10.8.0.0 -->

			<!-- 针对 ESRI.ArcGIS.Version -->
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Version" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.8.0.0" newVersion="10.8.0.0" />
			</dependentAssembly>

			<!-- 针对 ESRI.ArcGIS.System -->
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.System" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.8.0.0" newVersion="10.8.0.0" />
			</dependentAssembly>

			<!-- 针对 ESRI.ArcGIS.Controls (之前报错的那个) -->
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Controls" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.8.0.0" newVersion="10.8.0.0" />
			</dependentAssembly>

			<!-- 针对 ESRI.ArcGIS.SystemUI -->
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.SystemUI" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.8.0.0" newVersion="10.8.0.0" />
			</dependentAssembly>

			<!-- 针对 ESRI.ArcGIS.Carto -->
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Carto" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.8.0.0" newVersion="10.8.0.0" />
			</dependentAssembly>

			<!-- 针对 ESRI.ArcGIS.Geodatabase -->
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Geodatabase" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.8.0.0" newVersion="10.8.0.0" />
			</dependentAssembly>

			<!-- 针对 ESRI.ArcGIS.Display -->
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Display" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.8.0.0" newVersion="10.8.0.0" />
			</dependentAssembly>

			<!-- 针对 ESRI.ArcGIS.3DAnalyst (如果用到3D) -->
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.3DAnalyst" publicKeyToken="8fc3cc631e44ad86" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.8.0.0" newVersion="10.8.0.0" />
			</dependentAssembly>

		</assemblyBinding>
	</runtime>
</configuration>